@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-body">
        <a asp-action="Index" asp-area="Admin" asp-controller="Users" class="btn btn-success my-3 mx-1">View Active User Accounts</a>
        <a asp-action="SuspendedUsers" asp-area="Admin" asp-controller="Users" class="btn btn-danger my-3 ">View Suspended Users</a>
        <h5 class="card-title fw-semibold mb-4 text-uppercase">Unconfirmed Users</h5>
       
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            Role
                        </th>

                        <th>
                            Date Added
                        </th>

                      
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


       @section Scripts{

        <script>
            var datatable;
            var tokenValue = '@ViewBag.token';
        </script>

        <script src="~/js/User.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                datatable = $('#my_table').DataTable({


                    "processing": true,
                    "serverSide": true,
                    "order": [[0, "desc"]],
                    ajax: {
                    url: 'http://18.217.103.30/api/Users/unconfirmedUsers',
                        type: 'get',
                        datatype: 'Json',headers: {
                                        'Authorization': 'Bearer @ViewBag.token'
                                    }

                  },
                    columnDefs: [
                        {
                            defaultContent: "",
                            targets: "_all",
                            'orderable': true
                        },
                    ],
                    columns: [
                        {
                            data: "firstName",
                            name: "firstName",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "lastName",
                            name: "lastName",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "gender",
                            name: "gender",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "email",
                            name: "email",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "phoneNumber",
                            name: "contact",
                            className: "text-left",
                            "orderable": true,
                        },
                         {
                            data: "roleName",
                            name: "role",
                            className: "text-left",
                            "orderable": true,
                        },

                        
                         {
                            data: "createdDate",
                            name: "createdDate",
                            className: "text-left",
                            "orderable": true,
                        },
                       
                        {
                            data: "id",
                            name: "id",
                            "orderable": false,
                            render: function (data) {
                                return "<a href='#' onclick='Reactivate(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='ti ti-check' title='activate'></a> "
                            }                     }
                    ],
                    responsive: true,
                    "autoWidth": false,
                });
            });
        </script>

            @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }