
.select2-container {
    position: relative;
    display: inline-block;
    border-radius:5px;
    width: 100%;
}

.select2-selection {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
}

.select2-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    z-index: 1;
}

.select2-dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
}

    .select2-dropdown-option:hover {
        background-color: #f4f4f4;
    }

.select2-search {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 8px 16px;
    z-index: 1;
}

.select2-options {
    max-height: 150px;
    overflow-y: auto;
}
