@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Pro Bono Clients";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

     var host = Configuration.GetSection("APIURL")["Link"];
}





<div class="card  w-100 h-100 d-flex justify-content-center ">
    <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info my-3" data-bs-toggle="modal" data-bs-target="#create_client_modal">
            Add Client
        </button>
      
        <!-- Modal -->
        <div class="modal fade" id="create_client_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_CreateProBonoClientPartial" />
        </div>

        <div class="modal fade" id="edit_client_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_EditProBonoClientPartial" />
        </div>

        <h5 class="card-title fw-semibold mb-4 text-uppercase">Available Active Clients</h5>
       
        <div class="table-responsive">
            <table class="table table-bordered table-hover " id="my_table">
                <thead>
                    <tr>
                        <th>
                           Name
                        </th>
                        <th>
                            Postal Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Residential Address
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Annual Income (MWK
                        </th>

                        <th>
                           Other Contacts
                        </th>

                       
                        <th>
                            Status
                        </th>
                        <th >
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


       @section Scripts{

        <script>
            var datatable;
            var tokenValue = '@ViewBag.token';
            var host = '@host';
        </script>

        <script src="~/js/ProBonoClient.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                datatable = $('#my_table').DataTable({


                    "processing": true,
                    "serverSide": true,
                    "order": [[0, "desc"]],
                    ajax: {
                    url: '@host/api/probonoclients/paged',
                        type: 'get',
                        datatype: 'Json',headers: {
                                        'Authorization': 'Bearer @ViewBag.token'
                                    }

                  },
                    columnDefs: [
                        {
                            defaultContent: "",
                            targets: "_all",
                            'orderable': true
                        },
                    ],
                    columns: [
                        {
                            data: "name",
                            name: "name",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "postalAddress",
                            name: "postalAddress",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "permanentAddress",
                            name: "permanentAddress",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "residentialAddress",
                            name: "residentialAddress",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "phoneNumber",
                            name: "phoneNumber",
                            className: "text-left",
                            "orderable": false,
                        },
                         {
                            data: "annualIncome",
                            name: "annualIncome",
                            className: "text-left",
                            "orderable": true,
                        },

                        
                         {
                            data: "otherContacts",
                            name: "otherContacts",
                            className: "text-left",
                            "orderable": false,
                        },
                       
                         {
                            data: "status",
                            name: "status",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "id",
                            name: "id",
                            "orderable": false,
                            render: function (data) {
                                return "<a href='#' onclick='EditForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-primary my-1 btn-sm ti ti-pencil' title='edit' > Edit</a> <a href='#' type='button' onclick='Delete(\"" + data + "\",\"" + tokenValue + "\")' title='delete' class='btn btn-outline-danger btn-sm  ti ti-trash red-icon' >Delete</a>"
                            }                     }
                    ],
                    responsive: true,
                    "autoWidth": false,
                });
            });
        </script>

            @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }