@model MLS_Digital_Management_System_Front_End.Core.DTOs.ProBonoApplications.DenyProBonoApplicationDTO;

<!-- Modal -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Deny Application Form</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProBonoApplicationId"/>
       

          <div class="mb-3">
            <label asp-for="Reason" class="form-label"></label>
            <textarea asp-for="Reason" placeholder="Enter Case Details" class="form-control"></textarea>
            <span asp-validation-for="Reason" class="text-danger"></span>
          </div>
        
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="deny_probono_application_btn" name="deny_probono_application_btn">Deny Application</button>
    </div>

  </div>
</div>

