@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Pro Bono Applications";
    Layout = "~/Areas/Secretariat/Views/shared/_Layout.cshtml";

     var host = Configuration.GetSection("APIURL")["Link"];
}

@section Styles {

    <link href="~/assets/css/custom_select.css" rel="stylesheet" />
}


<div class="card">
    <div class="card-body">
         <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info my-3" data-bs-toggle="modal" data-bs-target="#create_application_modal">
            Create Application
        </button>

        <!-- Modal -->
        <div class="modal fade" id="create_application_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_CreateApplicationPartial" />
        </div>

        <div class="modal fade" id="edit_application_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_EditApplicationPartial" />
        </div>

        <div class="modal fade" id="deny_probono_application_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_DenyFormPartial" />
        </div>

        <h5 class="card-title fw-semibold mb-4 text-uppercase">Available Applications</h5>
       
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            Nature Of Dispute
                        </th>
                        <th>
                            Client
                        </th>
                         <th>
                            Created By
                        </th>
                    
                        <th>
                           Date Added
                        </th>
                       
                        <th>
                            Case Details
                        </th>
                       
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


       @section Scripts{

        <script>
            var datatable;
            var tokenValue = '@ViewBag.token';
        </script>

        <script src="~/js/ProbonoApplication.js" asp-append-version="true"></script>
        <script src="~/assets/js/custom_select.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                datatable = $('#my_table').DataTable({


                    "processing": true,
                    "serverSide": true,
                    "order": [[0, "desc"]],
                    ajax: {
                    url: "@host/api/probonoapplications/paged",
                        type: 'get',
                        datatype: 'Json',headers: {
                                        'Authorization': 'Bearer @ViewBag.token'
                                    }

                  },
                    columnDefs: [
                        {
                            defaultContent: "",
                            targets: "_all",
                            'orderable': true
                        },
                    ],
                   columns: [

                        {
                            data: "natureOfDispute",
                            name: "natureOfDispute",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "probonoClient.name",
                            name: "client",
                            className: "text-left",
                            "orderable": true,
                        },
                          {
                            data: "createdBy.fullName",
                            name: "createdBy.fullName",
                            className: "text-left",
                            "orderable": false,
                        },
                       
                        {
                            data: "createdDate",
                            name: "createdDate",
                            className: "text-left",
                            "orderable": true,
                        },
                        
                        {
                            data: "summaryOfDispute",
                            name: "summaryOfDispute",
                            className: "text-left",
                            "orderable": true,
                        },
                         {
                            data: "id",
                            name: "id",
                            "orderable": false,
                            render: function (data, type, row) {
                            let links = "";
                            if (row.applicationStatus.toLowerCase() == "pending") {
                            links += "<a href='#' onclick='Activate(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-success mx-1 btn-sm ti ti-check' title='activate'>Activate</a>";
                            links += "<a href='#' onclick='DenyForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-danger mx-1 btn-sm ti ti-hand-stop' title='Deny'>Deny</a>";
                            
                            }
                            //links += "<a href='#' onclick='EditForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-pencil' title='edit' >Edit</a> <a href='#' type='button' onclick='Delete(\"" + data + "\",\"" + tokenValue + "\")' title='delete' class='ti ti-trash red-icon btn btn-outline-danger my-1 btn-sm' >Delete</a>"
                            return links;
                            }
                        }
                        ],                    responsive: true,
                    "autoWidth": false,
                });
            });
        </script>

        


            @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }