@model MLS_Digital_Management_System_Front_End.Core.DTOs.Thread.CreateThreadDTO

<!-- Modal -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New Thread</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
    <form id="myForm" asp-action="Create">
       <input asp-for="CommitteeId" value="@ViewBag.CommitteeId" type="hidden" />
        <div class="mb-3">
            <label asp-for="Subject" class="form-label">Subject</label>
            <textarea asp-for="Subject" class="form-control" placeholder="Enter Subject" ></textarea>
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
       
    </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" name="create_thread_btn" id="create_thread_btn">Create Thread</button>
    </div>

  </div>
</div>
