<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="CEO" asp-controller="Home" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Account Management</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="users" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="ti ti-user
                    "></i>
                </span>
                <span class="hide-menu">Users</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="roles" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="ti ti-briefcase"></i>
                </span>
                <span class="hide-menu">Roles</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">ProBono Management</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="CEO" asp-controller="ProBonoClients" asp-action="Index"
                aria-expanded="false">
                <span>
                    <i class="ti ti-user
                    "></i>
                </span>
                <span class="hide-menu">Clients</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="CEO" asp-controller="probonoapplications" asp-action="Index"
                aria-expanded="false">
                <span>
                    <i class="ti ti-briefcase"></i>
                </span>
                <span class="hide-menu">Applications</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="CEO" asp-controller="ProBonos" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Pro Bono Cases</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Member Management</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="Members" aria-expanded="false">
                <span>
                    <i class="bi bi-people"></i>
                </span>
                <span class="hide-menu">All</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="Members" asp-action="LicensedMembers"
                aria-expanded="false">
                <span>
                    <i class="bi bi-briefcase" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Licensed</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="Members" asp-action="UnlicensedMembers"
                aria-expanded="false">
                <span>
                    <i class="bi bi-archive" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Unlicensed</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">License Management</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="LicenseApplications"
                aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Applications</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Notaries Public</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="ceo" asp-controller="NotariesPublic"
                aria-expanded="false">
                <span>
                    <i class="bi bi-people"></i>
                </span>
                <span class="hide-menu">All</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="pending" asp-area="ceo" asp-controller="NotariesPublic"
                aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Submissions</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">CPDs</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="CPDTrainings"
                aria-expanded="false">
                <span>
                    <i class="bi bi-mortarboard"></i>
                </span>
                <span class="hide-menu">Trainings</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Configurations</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="Countries" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="bi bi-flag" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Countries</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="Departments" asp-action="Index"
                aria-expanded="false">
                <span>
                    <i class="bi bi-briefcase" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Departments</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="YearOfOperations" asp-action="Index"
                aria-expanded="false">
                <span>
                    <i class="bi bi-clock" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Practicing Year</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="InstitutionTypes" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="bi bi-building" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Institution Types</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Institutions</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="ceo" asp-controller="Firms" asp-action="Index" aria-expanded="false">
                <span>
                    <i class="bi bi-building" style="font-size: 1.1rem;"></i>
                </span>
                <span class="hide-menu">Firms/Institutions</span>
            </a>
        </li>
        

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Messaging</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="Committees" aria-expanded="false">
                <span>
                    <i class="bi bi-people" style="font-size: 1.rem;"></i>
                </span>
                <span class="hide-menu">Active Committees</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="communications"
                aria-expanded="false">
                <span>
                    <i class="bi bi-people" style="font-size: 1.rem;"></i>
                </span>
                <span class="hide-menu">Communications</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Stamps</span>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" asp-action="index" asp-area="CEO" asp-controller="stamps" aria-expanded="false">
                <span>
                    <i class="bi bi-postage" style="font-size: 1.rem;"></i>
                </span>
                <span class="hide-menu">Stamps</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" asp-area="CEO" asp-controller="GenericSignatures" asp-action="Index">
                <i class="ti ti-signature"></i>
                <span class="hide-menu">Generic Signatures</span>
            </a>
        </li>

    </ul>
    @* <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
        <div class="d-flex">
            <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Visit Sparc Systems</h6>
                <a href="https://www.sparcsystems.africa/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Go</a>
            </div>
            <div class="unlimited-access-img">

                <img src="~/assets/images/logos/sparc.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div> *@
</nav>