@model MLS_Digital_Management_System_Front_End.Core.DTOs.User.ResetPasswordDTO;
@{
    ViewData["Title"] = "Reset Password";
}

<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3" id="reset_password_form">
                <div class="card mb-0">
                    <div class="card-body">
                        <div>
                            <img src="~/assets/images/91.gif" id="spinner" />
                        </div>
                        <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">

                            <img src="~/assets/images/logos/mls_logo.png" width="180" alt="" />
                        </a>

                        <form asp-action="PasswordReset">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />

                            <div class="mb-3">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>  
                            <div class="mb-4">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="ConfirmPassword" class="form-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        
                            
                        </form>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" id="reset_password_btn" name="reset_password_btn">Reset Password</button>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="text-primary fw-bold ms-2" asp-controller="Home" asp-action="Index">Login</a>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

       @section Scripts{

        <script src="~/js/Auth.js" asp-append-version="true"></script>
       }