@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model MLS_Digital_Management_System_Front_End.Core.DTOs.User.ResetPasswordDTO;
@{
    ViewData["Title"] = "Reset Password";
    var host = Configuration.GetSection("APIURL")["Link"];
}

<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3" >
                <div class="card mb-0">
                    <div class="card-body">
                       
                        <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                            <img src="~/assets/images/logos/mls_logo.png" width="180" alt="" />
                        </a>

                        <form id="resetPasswordForm" asp-action="#" id="reset_password_form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" id="Code" name="Code" />

                            <div class="mb-3">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>  
                            <div class="mb-4">
                                <label asp-for="Password" class="form-label"></label>
                                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="ConfirmPassword" class="form-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="modal-footer">
                                <button  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" id="reset_password_btn" name="reset_password_btn">Reset Password</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-primary fw-bold ms-2" asp-controller="Home" asp-action="Index">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var tokenValue = '@ViewBag.token';
        var host = '@host';
        var front_end_url = '@Configuration.GetSection("FrontEndHost")["Link"]';

        // Function to get query parameter from URL
        function getQueryParameter(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
            var results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        // Set the code in the hidden input field
        document.addEventListener('DOMContentLoaded', function () {
            var code = getQueryParameter('code');
            if (code) {
                document.getElementById('Code').value = code;
            }
        });

        // Prevent form submission and handle with JavaScript
            document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
                event.preventDefault();
                
            });

       
    </script>
    <script src="~/js/Auth.js" asp-append-version="true"></script>
}
