@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Complaints/Views/shared/_Layout.cshtml";
}

<div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Stats For 2024 - 2025 Year</h4>
                <div class="row mt-4">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-4 col-xlg-4">
                        <a asp-area="Complaints" asp-controller="LicenseApplications" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-primary">@ViewBag.totalLicenseApplications</h1>
                                    <p class="text-primary">Pending Licence Applications</p> 
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-4 col-xlg-4">
                        <a asp-area="Complaints" asp-controller="Home" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-warning text-center">
                                    <h1 class="fw-light text-warning">@ViewBag.proBonos</h1>
                                    <p class="text-warning">Pro Bono Cases Registered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-4">
                        <a asp-area="Complaints" asp-controller="Penalties" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-success text-center">
                                    <h1 class="fw-light text-success">@ViewBag.penalties</h1>
                                    <p class="text-success">Penalties</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <!--<div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Clerk" asp-controller="Tickets" asp-action="Index" asp-route-type="Re-opened" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-warning text-center">
                                    <h1 class="fw-light text-warning">10</h1>
                                    <h6 class="text-warning">CPD Trainings</h6>
                                </div>
                            </div>
                        </a>
                    </div>-->
                   
                    <!-- Column -->
                </div>

            </div>
</div>