
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Signatures";
    Layout = "~/Areas/Executive/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

<div class="card w-100 h-100 d-flex justify-content-center">
    <div class="card-body">
      
       <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>

        <div class="justify-content-between d-flex my-5">
           <div>
             <h5 class="card-title fw-semibold text-uppercase">Official Signatures</h5>
           </div>

            <div>
                <button class="text-sm btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_signature_modal">New Signature</button>
            </div>
        </div>

         <!-- Modals -->
        <div class="modal fade" id="create_signature_modal" tabindex="-1" aria-labelledby="signatureModalLabel" aria-hidden="true">
            <partial name="_CreateSignaturePartial" />
        </div>

        <div class="modal fade" id="edit_signature_modal" tabindex="-1" aria-labelledby="signatureModalLabel" aria-hidden="true">
            <partial name="_EditSignaturePartial" />
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="signature_table">
                <thead>
                    <tr>
                        <th>
                           Name
                        </th>
                        <th>
                           Date Added
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
    </script>
    <script src="~/js/FileUploadHandler.js" asp-append-version="true"></script>
     <script src="~/js/Signature.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#signature_table').DataTable({
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: "@host/api/Signatures/paged",
                    type: 'get',
                    datatype: 'Json', 
                    headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    },
                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [
                    {
                        data: "name",
                        name: "name",
                        className: "text-left",
                        "orderable": false,
                    },
                    {   
                        data: "CreatedAt",
                        name: "CreatedAt",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                            return `
                                <a href='#' onclick='signatureHandler.editForm(${data},"${tokenValue}")' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-pencil' title='edit'>Edit</a> 
                                <a href='#' type='button' onclick='signatureHandler.delete(${data}, "${tokenValue}")' title='delete' class='ti ti-trash red-icon btn btn-outline-danger btn-sm my-1 mx-1'>Delete</a>
                                <a href='/Executive/Signatures/SignatureDetails/${data}' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-eye text-lg' title='show details' > View</a>
                            `
                        }
                    }
                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
