@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "License Applications";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

@section Styles {

    <style>
        .hidden {
            display: none;
        }
    </style>


}

<div class="card  w-100 h-100 d-flex justify-content-center">
    <div class="card-body">

        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info my-3" data-bs-toggle="modal" data-bs-target="#create_penaltyPayment_modal">
            Add New Penalty Payment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="create_penaltyPayment_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_CreatePenaltyPaymentPartial" />
        </div>
        <!-- Modal -->
        <div class="modal fade" id="edit_penaltyPayment_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_EditPenaltyPaymentPartial" />
        </div>

        <h5 class="card-title fw-semibold mb-4 text-uppercase text-center"> Penalty Payments In Year of Practice <strong>(@ViewBag.YearOfOperation.FormatedDate)</strong></h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="penaltyPayment_table">
                <thead>
                    <tr>
                        <th>
                            Penalty
                        </th>
                        <th>
                            Payment Description
                        </th>
                        <th>
                            Payment Fees
                        </th>
                        <th>Payment Status</th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
    </script>
    <script src="~/js/PenaltyPayment.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#penaltyPayment_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: "@host/api/PenaltyPayments/paged",
                    type: 'get',
                    datatype: 'Json', headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    }
                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [
                    {
                        data: "penalty.reason",
                        name: "penalty",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "description",
                        name: "description",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "fee",
                        name: "fee",
                        className: "text-left",
                        "orderable": false,
                        render: function (data, type, row) {
                            return '<span class="badge bg-primary bg-opacity-85 rounded-pill">MWK ' + data + '</span>';
                        }
                    },
                    {
                        data: "paymentStatus",
                        name: "paymentStatus",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                            let links = "";
                            if (row.paymentStatus.toLowerCase() == "pending") {

                                links += "<a href='#' onclick='penaltyHandler.editForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-pencil' title='edit'>Edit</a>";
                                links += "<a href='#' onclick='penaltyHandler.delete(\"" + data + "\",\"" + tokenValue + "\")' type='buttion' title='delete' class='ti ti-trash red-icon btn btn-outline-danger btn-sm my-1 mx-1'>Delete</a>";

                              
                            }

                            return links;
                        }
                    }
                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
