@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "License Applications";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

@section Styles {

    <style>
           .hidden {
  display: none;
}
    </style>

    <link href="~/assets/css/custom_select.css" rel="stylesheet" />
}


<div class="card  w-100 h-100 d-flex justify-content-center">
    <div class="card-body">
        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        <!-- Button trigger modal -->
        @if (ViewBag.membership) {
            <button type="button" class="btn btn-info my-3" data-bs-toggle="modal" data-bs-target="#create_application_modal">

                @if (ViewBag.hasPreviousLicenseApplication == true) {
                    <span>Renew Application</span>
                }
                else {
                    <span>New Application</span>
                }
            </button>
        }else{
            <a asp-area="Member" asp-action="ViewMember" asp-controller="Home" class="btn btn-warning my-3">Complete Membership Details</a>
        }

        <!-- Modal -->
        <div class="modal fade" id="create_application_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_CreateApplicationPartial" />
        </div>

        

        <h5 class="card-title fw-semibold mb-4 text-uppercase">Available Applications</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="my_table">
                <thead>
                    <tr>
                        <th>
                            Year of Practice
                        </th>
                        
                        <th>
                            Application Status
                        </th>
                       <th>
                            License Number
                       </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
        var hasPreviousLicenseApplicationVar = `@ViewBag.hasPreviousLicenseApplication`;
    </script>

    <script src="~/js/FileUploadHandler.js" asp-append-version="true"></script>
    <script src="~/js/LicenseApplication2.js" asp-append-version="true"></script>
    <script src="~/assets/js/custom_select.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#my_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: "@host/api/licenseapplications/paged",
                    type: 'get',
                    datatype: 'Json', headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    },
                   

                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [

                    {
                        data: "yearOfOperation.formatedDate",
                        name: "yearOfOperation.Id",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "applicationStatus",
                        name: "applicationStatus",
                        className: "text-left",
                        "orderable": true,
                    },
                     {
                        data: "license.licenseNumber",
                        name: "license",
                        className: "text-left",
                        "orderable": false,
                    },
                  
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                            if (row.applicationStatus.toLowerCase() === "pending" || row.applicationStatus.toLowerCase() === "draft" || row.applicationStatus.toLowerCase() === "denied") {
                                return "<a href='#' onclick='formHandler.editForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-pencil text-lg' title='edit' >Edit</a>" +
                                    "<a href='#' type='button' onclick='formHandler.delete(\"" + data + "\",\"" + tokenValue + "\")' title='delete' class='btn btn-outline-danger my-1 btn-sm ti ti-trash red-icon' >Delete</a>";
                            } else {
                                return "<a href='LicenseApplications/Details/" + data + "' type='button' class='btn btn-outline-primary mx-1 btn-sm ti ti-eye text-lg' title='show details' > Show Details</a>";
                            }
                        }
                    }
                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
