@model MLS_Digital_Management_System_Front_End.Core.DTOs.NotariesPublic.CreateNotariesPublicDTO;
<!-- Modal -->
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Submit Notaries Public</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 form-check">
              <label asp-for="MemberId" class="form-label"></label>
              <select asp-for="MemberId" asp-items="@ViewBag.membersList" class="form-control"></select>
              <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-3 form-check">
              <label asp-for="YearOfOperationId" class="form-label"></label>
              <select asp-for="YearOfOperationId" asp-items="@ViewBag.yearOfOperationsList"
                class="form-control"></select>
              <span asp-validation-for="YearOfOperationId" class="text-danger"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 form-check">
              <div class="custom-file">
                <label class="form-label" asp-for="Attachments"></label>
                <input multiple class="form-control custom-file-input" id="Attachments" accept=".pdf,.doc,.docx,.txt"
                  name="Attachments" type="file">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" name="submit_notaries_public_btn"
        id="submit_notaries_public_btn">Submit</button>
    </div>
  </div>
</div>
