@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Processed Invoices";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
    var apiPrefix =  Configuration.GetSection("APISettings")["API_Prefix"];
}

<a onclick="window.history.back()" class="btn btn-secondary mx-2 my-2">Back To CPD</a>

<div>
    <img src="~/assets/images/91.gif" id="spinner" />
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4 text-uppercase text-center">Processed Invoices</h5>
        <div class="table-responsive">
            <table class="table table-bordered" id="qb_invoices_table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Unpaid Amount</th>
                        <th>Date Requested</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var tokenValue = '@ViewBag.token';
        var host = '@host';
        var cpdTrainingId = 0;
    </script>
    <script src="~/js/InvoiceRequestHandler.js" asp-append-version="true"></script>
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
