@model MLS_Digital_Management_System_Front_End.Core.DTOs.QBInvoices.ReadQBInvoiceDTO

@{
    ViewData["Title"] = "View Invoice Request";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";
}

<a onclick="window.history.back()" class="btn btn-secondary mx-2 my-2">Back To Invoices</a>
<div class="card w-100 h-100 d-flex justify-content-center">
    
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4 text-uppercase text-center">Invoice Details</h5>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Amount</label>
                    <p class="form-control-static">@Model?.InvoiceAmount</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Customer</label>
                    <p class="form-control-static">@Model?.CustomerName</p>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Invoice Date</label>
                    <p class="form-control-static">@Model?.InvoiceDate</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Created Date</label>
                    <p class="form-control-static">@Model?.CreatedDate</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label"> Invoice Description</label>
                    <p class="form-control-static">@Model?.InvoiceDescription</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">QB Invoice Id</label>
                    <p class="form-control-static">@Model?.InvoiceNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>
