@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "View Committee Members";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

<div class="card w-100 h-100 d-flex justify-content-center">
    <div class="card-body">
        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div>
                <a asp-action="index" asp-controller="committees" asp-area="member" class="btn btn-secondary p-1">
                    <i class="bi bi-chevron-double-left"></i>
                    Back
                </a>
            </div>

            <div>
                <h5 class="card-title fw-semibold mb-4 text-capitalize">Membership Requests</h5>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="my_table">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        
                        <th>Member Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
    </script>

 <script src="~/js/CommitteeMember.js" asp-append-version="true"></script>
    
    <script>
        $(document).ready(function () {
            datatable = $('#my_table').DataTable({
                "processing": true,
                "serverSide": true,
                "order": [[0, "asc"]],
                ajax: {
                    url: "@host/api/CommitteeMembers/requests?committeeId=" + @ViewBag.CommitteeId,
                    type: 'get',
                    datatype: 'Json',
                    headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    },

                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    }
                ],
                columns: [
                    {
                        data: "memberShip.fullName",
                        name: "memberShip",
                        className: "text-left",
                        "orderable": false
                    },
                   
                    {
                        data: "role",
                        name: "role",
                        className: "text-left",
                        "orderable": false
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                            console.log(data)
                            return `
                            
                            <a href='#' data-id="${data}" data-token="${tokenValue}" onclick='committeeMemberHandler.delete(event)' type='button' class='btn btn-outline-success mx-1 btn-sm ti ti-check' title='edit'> Accept</a>
                            <a href='#' data-id="${data}" data-token="${tokenValue}" onclick='committeeMemberHandler.delete(event)' type='button' class='btn btn-outline-danger mx-1 btn-sm ti ti-trash' title='edit'> Deny</a>
                                           
                            `
                        }
                    }
                ],
                responsive: true,
                "autoWidth": false
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
