@model MLS_Digital_Management_System_Front_End.Core.DTOs.MemberQualification.CreateMemberQualificationDTO

<!-- Modal -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create Member Qualification</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MemberId" value='@ViewBag.member?.Id' />
        <div class="row row-cols-lg-1">
          <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" placeholder="Enter Qualification Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label asp-for="IssuingInstitution" class="form-label"></label>
            <input asp-for="IssuingInstitution" placeholder="Enter Issuing Institution" class="form-control" />
            <span asp-validation-for="IssuingInstitution" class="text-danger"></span>
          </div>
          
          <div class="mb-3">
            <label asp-for="DateObtained" class="form-label"></label>
            <input asp-for="DateObtained" type="date" placeholder="Enter Date Obtained" class="form-control" />
            <span asp-validation-for="DateObtained" class="text-danger"></span>
          </div>
          
          
          <div class="mb-3">
            <label asp-for="QualificationTypeId" class="form-label"></label>
            <select asp-for="QualificationTypeId" asp-items="@ViewBag.qualificationTypesList" class="form-select">
              
            </select>
            <span asp-validation-for="QualificationTypeId" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Attachments" class="form-label"></label>
            <input asp-for="Attachments" type="file" multiple class="form-control" />
            <span asp-validation-for="Attachments" class="text-danger"></span>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" name="create_member_qualification_btn" id="create_member_qualification_btn">Create Qualification</button> 
    </div>
  </div>
</div>

