@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";
}

<div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Stats For 2024 - 2025 Year</h4>
                <div class="row mt-4">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Member" asp-controller="ProBonoApplications" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                            <h1 class="fw-light text-primary">@ViewBag.proBonoApplicationsTotal</h1>
                                    <p class="text-primary">Total Pro Bono Applications</p> 
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Member" asp-controller="ProBonos" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-secondary">6hrs</h1>
                                    <h6 class="text-primary">Pro Bono Hours Clocked</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Member" asp-controller="CPDTrainigs" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-success text-center">
                                    <h1 class="fw-light text-success">@ViewBag.summedUnits</h1>
                                    <h6 class="text-success">Total CPD Units</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Member" asp-controller="CPDTrainigs" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-warning text-center">
                                    <h1 class="fw-light text-warning">6</h1>
                                    <h6 class="text-warning">CPD Trainings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                   
                    <!-- Column -->
                </div>

            </div>
</div>