@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Penalty Payments";
    Layout = "~/Areas/Finance/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

@section Styles {

    <style>
        .hidden {
            display: none;
        }
    </style>


}

<div class="card  w-100 h-100 d-flex justify-content-center">
    <div class="card-body">

        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="deny_penalty_payment_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_DenyPenaltyPaymentPartial" />
        </div>

        <h5 class="card-title fw-semibold mb-4 text-uppercase text-center"> Penalty Payments Pending Approval <strong>(@ViewBag.YearOfOperation.FormatedDate)</strong></h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="penaltyPayment_table">
                <thead>
                    <tr>
                        <th>
                            Payment Description
                        </th>
                        <th>
                            Payment Fees
                        </th>
                        <th>
                            Proof of Payment
                        </th>
                        <th>Payment Status</th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
    </script>
    <script src="~/js/FinancePayment.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#penaltyPayment_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: "@host/api/PenaltyPayments/paged",
                    type: 'get',
                    datatype: 'Json', headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    }
                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [
                    {
                        data: "description",
                        name: "description",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "fee",
                        name: "fee",
                        className: "text-left",
                        "orderable": false,
                        render: function (data, type, row) {
                            return '<span class="badge bg-primary bg-opacity-85 rounded-pill">MWK ' + data + '</span>';
                        }
                    }, 
                    {
                        data: "attachments",
                        name: "attachments",
                        className: "text-left",
                        "orderable": true,
                        render: function (data, type, row, meta) {
                            if (data && data.length > 0) {
                                return data.map((attachment) => {
                                    return `<a href="@host/${attachment.filePath}" target="_blank" download="${attachment.fileName}"> Attachment <i class="bi bi-paperclip"></i></a>`;
                                }).join('<br>');
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        data: "paymentStatus",
                        name: "paymentStatus",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                            let links = "";
                            if (row.paymentStatus.toLowerCase() == "pending") {
                                links += "<a href='#' onclick='Activate(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='ti ti-check btn btn-outline-success my-1 btn-sm mx-1' title='approve'>Approve</a>";
                                links += "<a href='#' onclick='DenyForm(\"" + data + "\",\"" + tokenValue + "\")' type='button' class='btn btn-outline-danger my-1 btn-sm ti ti-hand-stop' title='deny' >Deny</a> ";
                            }

                            return links;
                            /*return `

                                <a href='#' onclick='Activate(${data},"${tokenValue}")' type='button' class='btn btn-outline-success mx-1 btn-sm bi bi-check' >Approve</a>

                                <a href='#' onclick='DenyForm(${data}, "${tokenValue}")' type='buttion' title='delete' class='ti ti-hand-stop red-icon btn btn-outline-danger btn-sm my-1 mx-1'>Deny</a>

                            `*/
                        }
                    }
                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
