@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Members";
    Layout = "~/Areas/Secretariat/Views/shared/_Layout.cshtml";
    var host = Configuration.GetSection("APIURL")["Link"];
}



<div class="card">
    <div class="card-body">
        <div class="justify-content-between d-flex">
            <h5 class="card-title fw-semibold mb-4 text-uppercase">Licensed Members</h5>
            
            <div class="mb-4">
                <a asp-action="Index" asp-area="secretariat" asp-controller="Members" class="btn btn-primary my-3 mx-1">All</a>
                <a asp-action="UnlicensedMembers" asp-area="secretariat" asp-controller="Members" class="btn btn-warning my-3 ">Unlicensed</a>
                <a asp-action="MembersWithMissingRecords" asp-area="secretariat" asp-asp-controller="Members" 
                    class="btn btn-danger my-3 mx-1">
                    Missing Records
                </a>
                <button id="downloadButton" class="btn btn-primary my-3 mx-1">Download</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>Licensed No.</th>
                        <th>
                            Email
                        </th>
                        <th>
                            Contact
                        </th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
        var yearOfPractice = '@ViewBag.currentYear.FormatedDate';
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/DownloadsHandle.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            datatable = $('#my_table').DataTable({


                    "processing": true,
                    "serverSide": true,
                    "order": [[0, "desc"]],
                    ajax: {
                    url: `${host}/api/Members/getLicensedMembers`,
                        type: 'get',
                        datatype: 'Json',
                        headers: {
                            'Authorization': 'Bearer @ViewBag.token'
                        }

                  },
                    columnDefs: [
                        {
                            defaultContent: "",
                            targets: "_all",
                            'orderable': true
                        },
                    ],
                    columns: [
                        {
                            data: "user.firstName",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "user.lastName",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "user.gender",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "licenses[0].licenseNumber",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "user.email",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                        {
                            data: "user.phoneNumber",
                            name: "user",
                            className: "text-left",
                            "orderable": true,
                        },
                    ],
                    responsive: true,
                    "autoWidth": false,
                });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}